@using PatrimonioPortal.Models;
@model PatrominioConsolidadoModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}
@section Style{
    <style>
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
}
<br />
<br />
<div class="span7">
    <div class="widget stacked widget-table action-table">
        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h5>Agência: @Model.Conta.Agencia C/C: @Model.Conta.NumeroFormatado</h5>
        </div>
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Tipo Operação</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Transacoes != null)
                    {
                        foreach (var item in Model.Transacoes)
                        {
                            <tr>
                                <td>@item.TipoOperacao</td>
                                <td>@item.DataOperacao.ToString("dd/MM/yyyy")</td>
                                <td>@item.HoraOperacao</td>
                                @if (item.TipoOperacao == "C")
                                {
                                    <td style="color:blue">@item.Valor.ToString("N2")</td>
                                }
                                else
                                {
                                    <td style="color:red">@item.Valor.ToString("N2")</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-9">
                    <b>Saldo disponível</b>
                </div>
                <div class="col-3" style="display:flex">
                    <b style="margin-left:auto">R$ @Model.Conta.Saldo.ToString("N2")</b>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="widget stacked widget-table action-table">
        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h5>Ativos</h5>
        </div>
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Valor Unitário</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Ativos != null)
                    {
                        foreach (var item in Model.Ativos)
                        {
                            <tr>
                                <td>@item.CodigoBovespa</td>
                                <td>@item.Descricao</td>
                                <td>@item.Quantidade.ToString()</td>
                                <td>@item.ValorUnitario.ToString("N2")</td>
                                <td>@item.ValorTotal.ToString("N2")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-9">
                    <b>Total Ativos</b>
                </div>
                <div class="col-3" style="display:flex">
                    <b style="margin-left:auto">R$ @Model.TotalAtivos.ToString("N2")</b>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-9">
        <b>Total Patrimônio</b>
    </div>
    <div class="col-3" style="display:flex">
        <b style="margin-left:auto">R$ @Model.PatrimonioTotal.ToString("N2")</b>
    </div>
</div>
<script>
    $(".nav-item").removeClass("active");
    $("#lnkPatrominio").addClass("active");
</script>

@section HiddenFields{
    @Html.Hidden("hdnClientId", Model.Cliente.Id)
    @Html.Hidden("hdnToken", Model.Token)
}

